<a href="https://colab.research.google.com/github/man237/man237/blob/main/TP_cc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# nom et  prenom: kenne takoudjou franck manuel 

# matricule: 19M2074

1. Importer les bibliothèques-

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

2. Charger le jeu de données et visualisation

In [ ]:
data = pd.read_csv("C:/Users/LENOVO/Desktop/Enquete_Eau/questionnaireDonnees.csv")

In [ ]:
data

,nomPrenom,sexe,Quartier,situationMatrimoniale,niveau d'etude,secteur d'activite,activite principale,habiteDansQuartierDeResidence,nomQuartier,ancienneteQuartier,...,Action2Campagne,Action2Forage,Action2Autres,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256
0,mbalassa_pouya,m,logbessou,marie,superieur,enseignant,enseignant,oui,logbessou,5,...,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ingueza_moussinga_II,m,chekotto_immeuble_T,marie,superieur,services,enseignement,oui,cite_kotto,10,...,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN
2,nguimbou_raphael,m,logpom,marie,superieur,enseignant,/,oui,logpom,5_a_10,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,lemoufouet_donfack_sonia,f,ndog-bong,celibataire,/,eleve,/,oui,ndog-bong,10_a_15,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,gabriel_nwambo,m,ndog-possi_II,marie,superieur,enseignement,/,non,/,/,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Atoundem_Zebaze_william,M,Logbessou,C,Superieur,Etudiant,Etude,oui,Logbessou,5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Zebaze_theophile,M,Logbessou,M,superieur,service,Agent-d'etat,oui,Logbessou-Istdi,10,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Zebaze_Sonia,F,Logbessou,C,superieur,medecine,Culture-de-l?gumes,oui,Loubessou,5,...,/,/,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Solabot_ghislain,F,Bonamoussadi,M,superieur,Service,Agent_d'etat,oui,Bonamoussadi,15,...,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Ahanda_Michel,M,Bonamoussadi,C,superieur,Enseignement,Enseignement,oui,Bonamoussadi,20,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ici on constate que dans notre jeu de donnees il ya 257 colonnes et 73 lignes

3. Nettoyage des donnes

affichage d une colonne ayant les valeurs manquantes pour la variable Unnamed: 250

In [ ]:
print(data["Unnamed: 250"])

0     NaN
1       0
2     NaN
3     NaN
4     NaN
     ...
68    NaN
69    NaN
70    NaN
71    NaN
72    NaN
Name: Unnamed: 250, Length: 73, dtype: object

afficher les valeurs null

In [ ]:
print(data["Unnamed: 250"].isnull())

0      True
1     False
2      True
3      True
4      True
      ...
68     True
69     True
70     True
71     True
72     True
Name: Unnamed: 250, Length: 73, dtype: bool

le nombre totale de valeurs manquantes pour que caracteristique

In [ ]:
print(data.isnull().sum())

nomPrenom                 0
sexe                      0
Quartier                  0
situationMatrimoniale     0
niveau d'etude            0
                         ..
Unnamed: 252             72
Unnamed: 253             72
Unnamed: 254             72
Unnamed: 255             72
Unnamed: 256             72
Length: 257, dtype: int64

In [ ]:
# le nombre total de valeur manquantes
print(data.isnull().sum().sum())

501

Remplacement des valeurs manquantes par la median

In [ ]:
data["Unnamed: 250"].fillna(125,inplace=True)

3. Divisez le jeu de données en X et Y

In [ ]:
X = data.iloc[:, [2, 3]].values
y = data.iloc[:, 4].values

 4. Divisez le jeu de données X et Y en l’ensemble d’entraînement et l’ensemble de test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
from matplotlib import pyplot as plt

linked = linkage(X, 'single')

labelList = range(1, 11)

plt.figure(figsize=(10, 7))
dendrogram(linked,
            orientation='top',
            labels=labelList,
            distance_sort='descending',
            show_leaf_counts=True)
plt.show()

ValueError: could not convert string to float: 'logbessou'